#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 2em;
  padding: 0.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 20em #646cffaa);
  transform: scale(110%);
  transition: transform 0.2s ease-in-out;
}
.logo.react:hover {
  filter: drop-shadow(0 20em 20em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.footer{
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}

.dropshadow{
  filter: drop-shadow(0 0 5em rgba(0,0,0,1));
}

.footer > p{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gitlogo:hover{
  transform: scale(110%);
  transition: transform 0.2s ease-in-out;
}